---
import { getCollection } from 'astro:content';
import BookLink from '../components/BookLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'My blog book';
const allBooks = await getCollection('book');
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here is the list of the recent stuff I read</p>

  <ul>
    {
      allBooks.map(({ id, data: { title, author } }) => (
        <li>
          <BookLink url={`/books/${id}`} title={title} author={author} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
