---
import BaseLayout from '../layouts/BaseLayout.astro';
import WGreeting from '../components/WCGreeting.astro';
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="Books I read">
  <h2>Rest a test</h2>

  <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
  <WGreeting messages={['hello', 'bonjour', 'hola', 'welcome']} />
</BaseLayout>
